<!DOCTYPE html>
<html>
  <%- include('head'); %>
  <body>
    <h1>REVIEWERS HEROES</h1>
    <table class="table table-bordered table-active table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Usuário</th>
          <th scope="col">Total de assignees</th>
          <th scope="col">Informações detalhadas</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <tr class="<%if (user.totalAssignees >= dangerLimitAssignees ) { %>table-danger<% } %>">
            <th scope="row"><img src="<%=user.avatarUrl%>"></th>
            <td><%= user.userName %></td>
            <td><%= user.totalAssignees %></td>
            <td><a href="/details/<%=user.id%>">?</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
